*{
    background-color: black;
}

h2{
    text-align: center;
    color: #ffffff;
    font-family: Times New Roman;
}

h4{
    text-align: center;
    color: #ffffff;
}

p{
    text-align: center;
    color: #ffffff;
}